<!-- Seccion equipo comienzo -->
<section class="team" id="team">
    <div class="row">
        <div class="content">
            <h3>Deporte de contacto</h3>
            <p>La Liga de Fútbol Mighty Ducks se estableció en 1996 para proporcionar a los atletas que residen en los vecindarios del norte de Chicago un entorno en el que aprender y jugar al hockey. Para ser miembro de MDHL, debe tener entre 4 y 12
                años y residir en un vecindario del norte de Chicago. MDHL está dirigido por un pequeño personal de tiempo completo y depende del generoso tiempo voluntario de los padres y miembros anteriores de la liga.</p>
        </div>
        <div class="image">
            <img src="../../../assets/images/hockey  2.jpg" alt="">
        </div>
    </div>
</section>
<!-- Seccion equipo final -->
