 <!-- Secion acerca de comienzo -->
 <section class="about" id="about">
    <div class="row">
        <div class="image">
            <img src="../../../assets/images/hockey  1.jpg" alt="">
        </div>
        <div class="content">
            <h3>Deporte entretenido</h3>
            <p>La Liga de Fútbol Mighty Ducks se estableció en 1996 para proporcionar a los atletas que residen en los vecindarios del norte de Chicago un entorno en el que aprender y jugar al hockey. Para ser miembro de MDHL, debe tener entre 4 y 12
                años y residir en un vecindario del norte de Chicago. MDHL está dirigido por un pequeño personal de tiempo completo y depende del generoso tiempo voluntario de los padres y miembros anteriores de la liga.</p>
        </div>
    </div>
</section>
<!-- Secion acerca de final -->
