 <!-- Portada comienzo -->
 <section class="home" id="home">
    <div class="content">
        <h3>La mejor Liga de Hockey</h3>
        <p>Apoyar a los atletas jóvenes que viven en el vecindario norte de Chicago, que tienen interés en aprender y jugar fútbol, ​​con oportunidades para aprender y practicar habilidades relacionadas con el juego de hockey, específicamente aquellas
            habilidades relacionadas con la cooperación en equipo y el buen espíritu deportivo.</p>
    </div>
</section>    
<!-- Portada final -->
